* {
    margin: 0 auto;
    padding: 0;
    /* background: #81D2C7 url(https://i.redd.it/c8g2lhamr0w11.png); */
}

.header-bar {
    padding: 60px;
    background: #81D2C7;
    text-align: center;
    color: #FFF;
    font-size: 60px;

}

.canvas {
    margin-top: 20px;
    text-align: center;
    width: 800px;
    height: 600px;
    border-color: black;
    border: solid;
    position: relative;
}

.howto-container {
    width: 80%;
    height: 200px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

#left {
    width: 50%;
    height: 200px;
    float: left;
}

#right {
    margin-left: 15%;
    height: 200px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: lower-alpha;
}