<html>

<head>
    <title> Pixel Art | Login </title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body>
    <!-- Login page and Signup Page formatting  -->
    <!-- Page Preloder -->
    <div class="loginbox">
        <img src="img/GoldenChest.png" class="avatar">
        <h1>Login</h1>

        <!-- A form which submits username and password -->
        <form method="POST">
            <p>Username</p>
            <input type="text" id="username" placeholder="Enter Username" required name="username"></input>
            <p>Password</p>
            <input type="password" id="password" placeholder="Enter Password" required name="password"></input>
            <input formaction="/login" type="submit" id="signIn" value="Sign In"></input>
            <input formaction="/register" type="submit" id="signUp" value="Sign Up"></input>
        </form>


    </div>


</body>


<!--====== Javascripts & Jquery ======-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/socket.js"></script>

</html>
